
<div id="fondocomponente">
    <a href="https://github.com/Adricarmona/PokemonApi?tab=readme-ov-file">
        <div class="proyecto">
            <img class="imagenesPortada" src="pokeapi.png" alt="">
            <h3>Pokédex con pokeapi</h3>
            <span>
                Credado con Html, css Y js
            </span>
        </div>
    </a>


    <a href="https://github.com/Adricarmona/ElectroSpeed-ECommerce">
        <div class="proyecto">
            <img class="imagenesPortada" src="electroSpeed.png" alt="">
            <h3>ElectroSpeed</h3>
            <span>
                Credado con Angular y .net
            </span>
        </div>
    </a>


    <a href="https://github.com/Adricarmona/ProyectoMoviles">
        <div class="proyecto">
            <img class="imagenesPortada" src="ecoRing.png" alt="">
            <h3>EcoRing</h3>
            <span>
                Credado con kotlin y jetpack compose
            </span>
        </div>
    </a>

</div>