#fondocomponente {
    background-color: #000000;

    border-radius: 20px;
    border: 3px solid #FFB22C ;
    box-shadow: 0 0 7px 1px #FFB22C;

    padding: 40px;
    margin: 2vh auto;

    color: white;
    text-align: justify;

    max-width: 150vh;

    /** Viva el display flex **/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
}

a{
    text-decoration: none;
    color: white;
}

.proyecto {
    padding: 5px;
    border-radius: 10px;
}

.proyecto:hover{
    transform: scale(0.99);
    border: 3px solid #ffffff34 ;
    box-shadow: 0 0 10px 10px #ffffff34;
}

.proyecto:active{
    transform: scale(0.90);
}

.imagenesPortada {
    width: 100%;
    max-width: 230px;
    height: auto;
    
    border-radius: 10px;
}
