<div id="navbar">
    <img id="opciones" src="opciones.png" alt="opciones" (click)="navbarMenu()">
    <h4 class="opcionesNavbar">Inicio</h4>
    <h4 class="opcionesNavbar">Sobre mi</h4>
    <h4 class="opcionesNavbar">Proyectos</h4>
</div>

<router-outlet/>


<h3>Derechos de Autor</h3>

<p>©2025 Adrián Carmona. Todos los derechos reservados.</p>
    
<p>Este sitio web y su contenido son de mi propiedad. No se permite su copia sin mi autorización.</p>
    
<p>Si tienes preguntas, puedes contactarme en adricarmonagalvez&#64;gmail.com.</p>