<div id="fondocomponente">
    <p>Soy Adrián Carmona, estudiante de Desarrollo de Aplicaciones Multiplataforma y actualmente realizando mis prácticas en Hispasec, donde desarrollo aplicaciones móviles.</p>

    <p>Me apasiona el desarrollo de software y siempre estoy dispuesto a enfrentar nuevos desafíos. He trabajado con diversas tecnologías, entre las que destacan Angular, C# con .NET, Kotlin con Jetpack Compose, Python con FastAPI y Java con XML. Además, en mi portafolio cuento con proyectos en estas tecnologías y sigo aprendiendo para mejorar mis habilidades y explorar nuevas herramientas.</p>
        
    <p>Más allá del desarrollo, me apasionan las motos, la competición y la informática.</p>
</div>

